.page-header {
    background-color: $off-white;
    padding: $l-size 0;
    margin-bottom: $l-size;

    &__title {
        margin: 0;
        font-weight: 300;

        span {
            font-weight: 700;
        }
    }
    &__actions {
        margin-top: $m-size;
    }
    &__subtitle {
        color: #333;
        font-weight: 300;
        font-style: italic;
        
        span {
            font-weight: 700;
        }
    }
}